
body {
    font-family: sans-serif;
}



.navbar {
    background-color:#808B96  ;
}

.quem-somos {
    background-color:#F2F3F4;
}

.margin {
    padding-top: 30px;
    padding-bottom: 15px;

}

.navbar-brand {
    margin-left: 15px;
}

.imagemm {
    padding-bottom: 15px;
}

.parceiros {
    background-color: #E5E7E9 ;
}

.bg-footer {
    background-color: black;
    color: white;
}